<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="content">
        <h1>DOC - BOX DEMO</h1>
    
        <div>
          <h3>UPLOAD ALL DOCUMENTS HERE:</h3>
          <form method="POST" action="/upload" enctype=multipart/form-data>
            <input type=file name=file multiple>
            <input type=submit value=Upload>
          </form>
        </div>
        <div>
          <h3>These are your uploaded files:</h3>
          <p>Click on the filename to download it.</p>
          <ul>
            {% for item in contents %}
              <li>
                <h2><a href="/download/{{ item.Key }}"> {{ item.Key }} </a></h2>
              </li>
            {% endfor %}
          </ul>
        </div>
       <button style="width: 200px; height: 50px"><a href="/success">Classify Documnets</a></button>
    </div>
  </body>
</html>